---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>PokeAPI</h1>
		<form>
			<label for="animal">Animal 1</label>
			<select name="animals" id="animal1">
				<option value="perro">perro</option>
				<option value="gato">gato</option>
				<option value="conejo">conejo</option>
				<option value="pajaro">pajaro</option>
				<option	value="pez">pez</option>
				<option value="tortuga">tortuga</option>
				<option value="leon">leon</option>
				<option value="elefante">elefante</option>
				<option value="jirafa">jirafa</option>
				<option value="mono">mono</option>
				<option value="oso">oso</option>
				<option value="tigre">tigre</option>
				<option value="cocodrilo">cocodrilo</option>
				<option value="serpiente">serpiente</option>
				<option value="aguila">aguila</option>
				<option value="zorro">zorro</option>
				<option value="ciervo">ciervo</option>
				<option value="lobo">lobo</option>
				<option value="murcielago">murcielago</option>
				<option value="rana">rana</option>
				<option value="caballo">caballo</option>
			</select>
			
		</form>
		<button>Get Pokemon</button>
		<p>Click the button to get a random Pokemon</p>
	</body>
</html>
